body{
  margin: 0;
  font-family: 'Joan', serif;

}
body{
  position: relative;
 
  /* &::before{
    content: '';
    position: absolute;
    top: 0px;
    right:0px;
    bottom: 0px;
    left:0px;
    
  } */
 
}
body::before{
  background-image: url('netflix.png');
  content: ' ';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width:100%;
  height: 200%;
  opacity: 0.95;
  
  background-repeat: no-repeat;
  background-position: 100% 100%;
  background-size: cover;
}
.containerbody{
  position: relative;
}
/* glowing */

.nav_container ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(0, 0, 0);
    height: 5%;
    opacity: 0.75;
   


  }
  
  .nav_container ul a{
    text-decoration: none;

  }
  li {
    float: left;
  }
  .nav_container h2{
    color: rgb(255, 255, 255);
    margin-left: 5%;
    font-size:x-large;
  }
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 0px 10px 0px 16px;
    margin-left: 2000%;
    margin-top: -70%;
    text-decoration: none;
    font-weight:bold;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: rgb(48, 48, 48);
    
  }
  .content_main div{
    color: rgb(255, 255, 255);
    font-size:medium;
    font-family: 'Quicksand', sans-serif;
    font-size: large;   
    margin: 1%;

  }
  #id_movie{
    margin-left: 25%;
    padding: 1% 5%;
    border-radius: 11px;
    margin-top: 3%;
    background-color: rgba(33, 33, 33, 0.5);
    font-size: large;
    color: beige;

  }
  #id_year{
    margin-left: 5%;
    margin-bottom: -25%;
    padding: 1% 5%;
    border-radius: 11px;
    background-color: rgba(33, 33, 33, 0.5);
    font-size: large;
    color: beige;

  }
 .form_details #searchbtn{
    margin: 5% 35% 5% 0%;
    padding: 0.5% 3%;
    border-radius: 11px;
    background-color: rgb(198, 41, 41);
    color: rgb(3, 3, 3);
    font-size: large;
    font-weight: 200;
    border: black;
    font-weight: bold;

  }
  .form_details #searchbtn:hover{
    background-color: black;
    color: azure;
    cursor:pointer;
  
    }

  .poster_container{
      margin: 5%;
  
      }
  #errortext{
      font-size: x-large;
      font-weight: bolder;
      color: rgb(255, 255, 255);
    }