{% extends 'base1.html' %}

{% block body %}

 <center><h2 style='color: rgb(255, 255, 0);'>These are the Top 5 Recommendations for you </h2></center>
{% comment %} <br>
<center>
    {% for key, value in Recommendations.items %} 
    <li>{{key}} -  <div class='movie_poster'><img src="{{value}}" alt="poster" ></div></li>
{% endfor %}
</center>   {% endcomment %}


<center>
    
    {% for movie in Recommendations %} 
    <li  style='margin: 2%;'><img src="{{movie}}" alt="poster" name="movie poster"></li>
{% endfor %}
</center>
{% endblock body %}